<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>
<div class="container">


<div class="center-text">
<h3>Чат з користувачем <%=@conversation.recipient.nickname%></h3>
</div>
<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class="item">
        <div class="content">
          <div class="header"><strong><%= user.nickname %></strong> <%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control", placeholder:"Повідомлення" %>
    <%= f.submit "Надіслати", class: "btn btn-outline-success bottom-right" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>

<% end %>
</div>
