<div class="container">


<h2>Вхід</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="title-form">
  <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
       </div>
       <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control card-size",placeholder:"Електронна пошта" %>
  </div>


  <%=f.label "Пароль"%>
      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-key"></i> </span>
           </div>
           <%= f.password_field :password, autocomplete: "new-password",class:"form-control card-size", placeholder: "Пароль" %>
      </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "Запам'ятати мене" %>
    </div>
  <% end %>

  <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-sign-in"></i> </span>
       </div>
       <%= f.submit "Ввійти",class:"form-control card-size" %>
  </div>
<% end %>
<br>
<br>

<%= render "users/shared/links" %>
</div>
