
<div class="container">
    <div class="main-body">

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <%=image_tag @user.logo, alt:"Admin", class:"rounded-circle", width:150,height:150%>
                    <div class="mt-3">
                      <h4><%=@user.nickname%></h4>
                      <% if @user.id != current_user.id%>
                      <% if current_user.followees.include?(@user) %>
                      <div class="form-group input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-eye-slash"></i> </span>
                       </div>
                       <%= button_to "Відписатись", unfollow_user_path, method: "POST", class:"form-control" %>
                       </div>
                      <% else %>
                      <div class="form-group input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-eye"></i> </span>
                       </div>
                       <%= button_to "Підписатись", follow_user_path, method: "POST", class:"form-control"  %>
                       </div>
                      <% end%>
                      <%else%>
                      <div class="form-group input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-sign-out"></i> </span>
                       </div>
                       <%= button_to "Вихід", destroy_user_session_path, method: :delete, :class => 'form-control' if current_user.id == @user.id %>
                       </div>
                       <div class="form-group input-group">
                       <div class="input-group-prepend">
                           <span class="input-group-text"> <i class="fa fa-edit"></i> </span>
                        </div>
                        <%= link_to "Редагувати профіль", edit_user_registration_path, :class => 'form-control' if current_user.id == @user.id %>
                        </div>
                      <% end%>
                      <%unless @user.id == current_user.id%>
                      <div class="form-group input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-send"></i> </span>
                       </div>
                       <%=button_to "Написати повідомлення", conversations_path(sender_id: current_user.id, recipient_id: @user.id), class:"form-control"%>
                       </div>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Пошта</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%=@user.email%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Вподабання дописів</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <% likes = 0 %>
                      <% @user_posts.each do |post| %>
                      <% likes += post.likes.count %>
                      <%end%>
                      <%=likes%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Підписники</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%=@user.followers.count%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Підписки</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%=@user.followees.count%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="center-text">Дописи користувача</h3>
    <div class="row">
        <%= render PostComponent.with_collection(@user_posts)%>
    </div>
  </div>
