<div class="col-6">
  <b>
    <%= link_to post.title, post_path(post), :class => "btn btn-light"%>
  </b>
  <p>
    <%= image_tag post.photo, width:300 %>
  </p>
    <% if user_signed_in? %>
        <% if post.username.eql? current_user.email %>
            <span class="p-2 text-dark"><%= link_to "Edit", edit_post_path(post), :class => "btn btn-outline-success" %></span>
            <span class="p-2 text-dark"><%= link_to "Delete", post_path(post), method: :delete, :class => "btn btn-outline-danger" %></span>
        <% end %>
    <% end %>
    <%=link_to post.category.name,category_path(post.category)%>
</div>
