<h3>
<% if user_signed_in? %>
      <% if @post.username.eql? current_user.email %>
<%= link_to "Edit", edit_post_path(@post), :class=>"btn btn-outline-warning"%> 
<%= link_to "Delete",post_path(@post), method: :delete, :class =>"btn btn-outline-danger"%></h3>
<%end%>
<%end%>
<h1><%=@post.title%></h1>
<h4><%=@post.body%></h4>
<%= image_tag @post.photo, width:300 %>
<div id="images">
<%@post.images.each do |image|%>
<%=image_tag image, width:200%>
<%end%>
</div>
<div id="comments">
ADD COMMENT:
<%= render 'comments/form'%>
Comments:
<%=render @comments %>
</div>

<h3>Post`s author: <%=@post.username%></h3>