
<div class="container">

  <div class="post" align="bottom">
    <%= image_tag @post.photo,width:400 %>
<div class="bottom-right">

<% if user_signed_in? %>
      <% if @post.user.eql? current_user %>
      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-edit"></i> </span>
           </div>
           <%= link_to "Редагувати", edit_post_path(@post), :class=>"form-control"%>
      </div>
      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-remove"></i> </span>
           </div>
           <%= link_to "Видалити",post_path(@post), method: :delete, :class =>"form-control" if @post.user_id == current_user.id%>
      </div>
    <%end%>
<%end%>
</div>
</div>
<div class="description">
<div class="card">
  <div class="card-body">
        <h2 class="text-title"><%=@post.title%></h2>
        <hr>
        <h4><%=@post.body%></h4>
<div class="">
  <h5 class="text-type">
    Тип: <%=link_to @post.category.name, category_path(@post.category), class:"text-type-link"%>
  </h5>
</div>
<div id="images">
    <%@post.images.each do |image|%>
        <%=image_tag image, class:"post-images"%>
    <%end%>
    <div>
        Перегляди: <%=@post.views%>
    </div>
    <div id="rating">
      Рейтинг: <%=@post.ratings.average(:value).round(1) if @post.ratings.average(:value) != nil%>
      <%5.downto(1) do |i|%>
<% if i <= @post.ratings.average(:value).to_i%>
  <span class="fa fa-star checked">
    <%else%>
      <span class="fa fa-star">
<%end%>
<%end%>


    </div>
    <div >
        <p>
        <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
        <%= @post.likes.size %> <%= (@post.likes.size) % 2 == 0 ? 'Вподобання' : 'Вподобань'%>
                <% if pre_like %>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-thumbs-o-down"></i> </span>
                         </div>
                         <%= button_to 'Не подобається', post_like_path(@post, pre_like), method: :delete, :class=>"form-control" %>
                    </div>
                <% else %>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-thumbs-o-up"></i> </span>
                     </div>

                     <%= button_to 'Вподобати', post_likes_path(@post), method: :post, :class=>"form-control" %>
                 </div>
                </div>
                <% end %>
                <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user-circle-o"></i> </span>
                 </div>
                 <%=link_to @post.user.nickname, user_path(@post.user.id), :class => "form-control button-size" %>
                 </div>
            <audio
                    controls
                    src="<%=url_for(@post.audio)%>">
                        Your browser does not support the
                        <code>audio</code> element.
                </audio>
                <br>
                <%unless @post.ratings.find_by(user_id: current_user&.id)%>
                Оцінити:
                <%=render 'ratings/form', rating:@rating%>
                <%end%>
</div>
</div>
</div>
</div>


<div id="comments" class="ps-2">
    Додати коментар:
    <%= render 'comments/form', url: post_comments_path(@post)%>
    <%if @post.comments.count > 0%>
    Коментарі:
    <%=render @comments %>
    <%end%>
</div>

</div>
